body {
  font-size: 1.5 rem;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: 0; }

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer"; }

.header {
  background: pink;
  padding: 30px;
  grid-area: header; }
  .header__logo {
    background-color: purple;
    padding: 20px;
    width: 120px;
    height: 70px; }

.nav {
  background: brown;
  padding: 30px;
  grid-area: nav; }
  .nav__items {
    background-color: beige;
    padding: 10px;
    list-style-type: none; }
    .nav__items--inactive {
      background-color: coral;
      padding: 10px; }
    .nav__items--active {
      background-color: turquoise;
      padding: 10px; }

.main {
  background: lightgrey;
  padding: 30px;
  grid-area: main; }
  .main__text {
    background-color: black;
    color: white;
    padding: 30px;
    margin: 10px; }
  .main__img {
    background-color: purple;
    padding: 30px;
    margin: 10px;
    width: 100px;
    height: 100px; }
  .main__button {
    background-color: green; }
    .main__button:hover {
      background-color: #4dff4d; }

.aside {
  background-color: gray;
  padding: 30px;
  grid-area: aside; }
  .aside__img {
    background-color: purple;
    padding: 30px;
    width: 100px;
    height: 100px; }
  .aside__title {
    color: white; }

footer {
  background-color: yellow;
  padding: 30px;
  grid-area: footer; }
