.wrapper {
    margin:0 auto;
    max-width:900px;
    width:100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.Grid {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.Grid-Cell-both {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.InputAddOn {
  display: flex;
  width:400px;
  margin-bottom:20px;
}

.InputAddOn-field {
  flex: 1;
}

.InputAddOn-item {
  padding:10px;
  border:none;
  background-color:rgba(0,0,0,0.08);
}