@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}:$value;    
}

.foo {
    background-color:lightblue;

    &:hover {
        @include prefix(transition, all 0.3s linear);
        background-color:red;
    }
}

/*Bei .foo border-radius ($property) mit Komma von Wert ($value) trennen.*/


@mixin prefix($wert) {
    -webkit-transition: $wert;
    -moz-transition: $wert;
    -ms-transition: $wert;
    -o-transition: $wert;
    transition: $wert;
}

.test {
    background-color:orange;

    &:hover {
        @include prefix(all 0.3s linear); 
        background-color:blue;
    }
}

/*Bei .test ohna Komma, da es nur einen Wert ($wert) hat.*/