/*Erstelle ein Placeholder für dein vielfach benutztes clearfix-Schnipsel
Verwende nun anstelle von <div class=”foo clearfix”></div> im HTML-Code 
den Extend bei der Deklaration der Regeln für .foo {} im CSS.*/

%stuff {
    &:after {
      content:"";
      display:table;
      clear: both;
    }
  }
  
.foo {
  @extend %stuff;
  background-color:pink;
}

.span2 {
  background-color:lightblue;
}